/* Side bar component */
.sidebar {
  min-width: 22rem;
  background-color: var(--primary-bg-color);
  height: 100vh;
  position: relative;
}

.sidebar__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.sidebar__brand-text {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-26);
  line-height: 3.38rem;
}

.sidebar__menu {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;

  gap: 1rem;
  width: 100%;
}

.sidebar__menu-item {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
}

.sidebar__menu-link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.sidebar__menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.75rem 1.5rem 3rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.sidebar__menu-text {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  line-height: 2.083rem;
  color: rgba(6, 21, 43, 0.5);
  transition: all 0.3s ease;
}

.sidebar__menu-link:hover .sidebar__menu-icon {
  background-color: rgba(58, 54, 219, 0.1);
}
.sidebar__menu-link:hover .sidebar__menu-text {
  color: var(--other-text-color);
}

.sidebar__menu-item.active .sidebar__menu-icon {
  background-color: rgba(58, 54, 219, 0.1);
}

.sidebar__menu-link.active .sidebar__menu-text {
  color: var(--other-text-color);
}

.sidebar__upgrade {
  position: absolute;
  left: 2.5rem;
  bottom: 6rem;
  color: var(--tertiary-text-color);
}

.user-profile {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.75rem;
}

.profile__name {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-regular);
  line-height: 1.69rem;
  color: var(--primary-text-color);
}

.profile__status {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-11);
  font-weight: var(--font-weight-regular);
  line-height: 1.43rem;
  color: var(--primary-text-color);
  opacity: 0.5;
}

/* Button components */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  line-height: 2.083rem;
}

.btn--primary {
  color: white;
  background-color: var(--primary-button-color);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-16);
  line-height: 2.083rem;
}

.btn--edit {
  width: 9rem;
  border-radius: 0.5rem;
  background-color: rgba(58, 54, 219, 0.05);

  font-size: 14px;
  font-weight: 400;
  line-height: 14.63px;
  color: var(--other-text-color);

  display: none;
}
.btn--edit img,
.btn--delete img {
  width: 1.5rem;
  height: 1.5rem;
}

.btn--delete {
  width: 9rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 105, 180, 0.05);

  font-size: 14px;
  font-weight: 400;
  line-height: 14.63px;
  color: var(--tertiary-text-color);
  display: none;
}

.product-list__action-button--button-delete {
  padding: 1rem;
  border-radius: 50%;
  background-color: rgba(231, 29, 54, 0.5);
}

.form__action-buttons {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

.form__action-buttons--button-send {
  flex: 1;
  padding: 1.25rem;
  background-color: white;
  color: var(--other-text-color);
  border: 1px solid rgba(58, 54, 219, 0.1);
}

.form__action-buttons--button-create {
  flex: 1;
  background-color: var(--primary-button-color);
  color: white;
}

.form-buttons__button:hover {
  opacity: 0.9;
}
