.sidebar {
  min-width: 22rem;
  background-color: var(--primary-bg-color);
  height: 100vh;
  position: relative;
}

.sidebar__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.sidebar__brand-text {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-26);
  line-height: 3.38rem;
}

.sidebar__menu {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;

  gap: 1rem;
  width: 100%;
}

.sidebar__menu-item {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
}

.sidebar__menu-link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.sidebar__menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.75rem 1.5rem 3rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.sidebar__menu-text {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  line-height: 2.083rem;
  color: rgba(6, 21, 43, 0.5);
  transition: all 0.3s ease;
}

.sidebar__menu-link:hover .sidebar__menu-icon {
  background-color: rgba(58, 54, 219, 0.1);
}
.sidebar__menu-link:hover .sidebar__menu-text {
  color: var(--other-text-color);
}

.sidebar__menu-item.active .sidebar__menu-icon {
  background-color: rgba(58, 54, 219, 0.1);
}

.sidebar__menu-link.active .sidebar__menu-text {
  color: var(--other-text-color);
}

.sidebar__upgrade {
  position: absolute;
  left: 2.5rem;
  bottom: 6rem;
  color: var(--tertiary-text-color);
}

.user-profile {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.75rem;
}

.profile__name {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-regular);
  line-height: 1.69rem;
  color: var(--primary-text-color);
}

.profile__status {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-11);
  font-weight: var(--font-weight-regular);
  line-height: 1.43rem;
  color: var(--primary-text-color);
  opacity: 0.5;
}

.main {
  flex: 1;
  padding: 2rem;
  overflow: auto;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.main__title {
  font-size: var(--font-size-26);
  font-weight: var(--font-weight-bold);
  line-height: 3.38rem;
  color: var(--primary-text-color);
}

.main__actions {
  display: flex;
  gap: 1rem;
}

.main__search.search {
  width: 23rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg-color);
  border-radius: 1rem;
}

.search__input {
  flex: 1;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 1rem;
  background-color: transparent;
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-regular);
}

.search__input::placeholder {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-regular);
}

.search__icon {
  padding-right: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  line-height: 2.083rem;
}

.btn--primary {
  color: white;
  background-color: var(--primary-button-color);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-16);
  line-height: 2.083rem;
}

.table__content {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1.5rem;
}

.table__row:first-child .table__header:first-child {
  border-top-left-radius: 10px;
}

.table__row:first-child .table__header:last-child {
  border-top-right-radius: 10px;
}

.table__header,
.table__cell {
  padding: 1rem 1.5rem;
  text-align: left;
  border: none;
}

.table__header {
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  color: var(--primary-text-color);

  font-size: var(--font-size-13);
  line-height: 1.69rem;
  font-weight: var(--font-weight-regular);
  opacity: 0.7;
}

.table__body .table__row {
  background-color: var(--primary-bg-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.table__cell:first-child {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.table__cell:last-child {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.table__cell {
  border-bottom: 1px solid #e5e7eb;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
  line-height: 1.82rem;
  color: var(--primary-text-color);
}

.status {
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  font-size: 0.875rem;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.status-complete {
  width: 16rem;
  background-color: rgba(58, 54, 219, 0.1);
  padding: 1.5rem 4.5rem;
  color: var(--other-text-color);
  font-size: var(--font-size-14);
  line-height: 1.82rem;
  border-radius: 2.25rem;
}

.status-pending {
  width: 16rem;
  background: rgba(3, 168, 158, 0.1);
  padding: 1.5rem 4.5rem;

  color: var(--secondary-button-color);
  font-size: var(--font-size-14);
  line-height: 1.82rem;
  border-radius: 2.25rem;
}

.status-cancel {
  width: 16rem;
  background: rgba(255, 105, 180, 0.1);
  padding: 1.5rem 4.5rem;

  color: var(--tertiary-button-color);
  font-size: var(--font-size-14);
  line-height: 1.82rem;
  border-radius: 2.25rem;
}

.table__checkbox {
  width: 16px;
  height: 16px;
}

.table__cell--actions {
  font-size: var(--font-size-26);
  opacity: 0.3;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.table__cell--actions:hover {
  opacity: 1;
  color: var(--other-text-color);
}

.table__user,
.date-cell,
.email-cell,
.table-head-cells {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
/* add edit and preview */
.content {
  flex: 1;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.form {
  flex: 1;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form__header-title {
  margin-bottom: 2rem;
  font-size: var(--font-size-26);
  font-weight: var(--font-weight-bold);
}

.form__camera {
  position: relative;
  left: calc(50% - 7rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  width: 14rem;
  height: 14rem;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__group:nth-child(5) {
  grid-column: 1 / -1;
}

.form__group-address {
  display: flex;
  background-color: var(--secondary-bg-color);
  margin-top: 1rem;

  border-radius: 1rem;
}

.form__group:nth-child(5) .form__group-input {
  flex: 1;
}

.form__group-address-icon {
  padding-right: 1.7rem;
}

.form__group-address .form__group-input {
  margin-top: 0;
}

.form__group-label {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
  color: var(--primary-text-color);
}

.form__group-input {
  min-width: 24rem;
  margin-top: 1rem;
  padding: 1.7rem;
  background-color: var(--secondary-bg-color);
  border-radius: 1rem;
  border: none;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
  transition: border-color 0.3s ease;
}

.form__group-input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.product-list {
  margin-top: 3rem;
}

.product-list__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.product-list__title-text {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
}

.product-list__action-button--button-add {
  padding: 0.5rem 0.9rem;
  background-color: var(--primary-button-color);
  color: white;
  font-size: var(--font-size-23);
}

.product-list__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 2rem 0 1rem;
}

.product-list__header {
  background-color: var(--primary-bg-color);
  padding: 0;
  font-size: var(--font-size-14);
  color: var(--primary-text-color);
  font-weight: var(--font-weight-regular);
  text-align: left;
  opacity: 1;
}

.product-list__cell {
  padding: 1rem 0;
  text-align: left;
  border-bottom: 0.1rem solid rgba(3, 2, 41, 0.1);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
}

.product-list__cell:nth-child(5) {
  display: flex;
  justify-content: flex-end;
}
.product-list__cell:nth-child(4) {
  color: var(--secondary-text-color);
}

.product-list__cell:nth-child(1) {
  color: var(--other-text-color);
}

.product-list__action-button--button-delete {
  padding: 1rem;
  border-radius: 50%;
  background-color: rgba(231, 29, 54, 0.05);
}

.form__action-buttons {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

.form__action-buttons--button-send {
  flex: 1;
  padding: 1.25rem;
  background-color: white;
  color: var(--other-text-color);
  border: 1px solid rgba(58, 54, 219, 0.1);
}

.form__action-buttons--button-create {
  flex: 1;
  background-color: var(--primary-button-color);
  color: white;
}

.form-buttons__button:hover {
  opacity: 0.9;
}

.preview {
  flex: 1;
  background-color: var(--primary-bg-color);
  border-radius: 1rem;
  padding: 2rem;
}

.preview__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.preview__header-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32.74px;
  text-align: left;
}

.preview__main__actions {
  display: flex;
  gap: 3rem;
}

.preview__header__button {
  padding: 0.5rem;
  border: none;
  background: #f8fafc;
  border-radius: 8px;
  color: #64748b;
  cursor: pointer;
}

.preview__content {
  background-color: var(--secondary-bg-color);
  padding: 3rem 3rem 1rem;
}

.preview__customer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.preview__customer-logo {
  font-size: 5rem;
  color: var(--other-text-color);
  font-weight: bold;
}

.preview__customer-email {
  font-family: var(--font-family-secondary);
  font-size: 0.8rem;
  font-weight: var(--font-weight-regular);
  line-height: 10.89px;
  color: var(--other-text-color);
}

.email-address {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  line-height: 1.302rem;
  color: var(--primary-text-color);
  margin-left: 0.5rem;
}

.preview__customer-phone {
  font-family: var(--font-family-secondary);
  font-size: 0.8rem;
  font-weight: var(--font-weight-regular);
  line-height: 10.89px;
  color: var(--other-text-color);
}

.phone-number {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  line-height: 1.302rem;
  color: var(--primary-text-color);
  margin-left: 0.5rem;
}

.preview__invoice {
  margin-bottom: 2rem;
}

.preview__invoice-details {
  display: flex;
  justify-content: space-between;
}

.preview__invoice-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.recipient-details {
  margin-top: 2rem;
}

.recipient__info {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 700;
  line-height: 10.42px;
  text-align: left;
}

.contact-details {
  margin: 1.5rem 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  text-align: left;
  color: #99b2c6;
}

.preview-company__email {
  font-family: var(--font-family-secondary);
  font-size: 0.8rem;
  font-weight: var(--font-weight-regular);
  line-height: 10.89px;
  color: var(--other-text-color);
}

.preview-company__email .email-address,
.preview-company__phone .phone-number {
  color: #99b2c6;
}

.preview-company__phone {
  font-family: var(--font-family-secondary);
  font-size: 0.8rem;
  font-weight: var(--font-weight-regular);
  line-height: 10.89px;
  color: var(--other-text-color);
}

.preview__invoice-title {
  font-size: 22.78px;
  font-weight: 700;
  line-height: 29.66px;
  text-align: right;
  color: var(--primary-text-color);
}

.invoice-number {
  display: flex;
  flex-direction: column;
}

.preview__invoice-label {
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  text-align: right;
  margin-bottom: 1.5rem;
}

.preview__invoice-label span {
  font-size: 8px;
  font-weight: 400;
  line-height: 10.42px;
  text-align: right;
  color: #99b2c6;
}

.product-list__cell:nth-child(4),
.product-list__header:nth-child(4) {
  text-align: right;
}

.preview-table {
  padding: 3rem 3rem 0;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.preview-table .product-list__header {
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  text-align: left;
  color: #99b2c6;
  text-transform: uppercase;
}

.preview-table .product-list__header:nth-child(4),
.preview-table .product-list__cell:nth-child(4) {
  text-align: right;
}

.preview-table__row {
  border-bottom: 1px solid var(--border-color);
}

.preview-table__row .product-list__cell,
.preview-summary__value {
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  text-align: left;
  color: var(--primary-text-color);
}

.preview-summary {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-end;
  margin-bottom: 2rem;
  padding-right: 3rem;
}

.preview-summary__row {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  width: 50%;
  font-size: 0.875rem;
  border-bottom: 0.1rem solid rgba(241, 244, 250, 1);
}

.preview-summary__row.preview-summary__total {
  border: none;
}

.preview-summary__label {
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  text-align: left;
  color: #99b2c6;
  text-transform: uppercase;
}

.preview-summary__total .preview-summary__value {
  font-size: 12.64px;
  font-weight: 400;
  line-height: 16.46px;
  text-align: right;
  color: var(--other-text-color);
}

.preview-footer {
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  text-align: left;
  color: #99b2c6;
  text-align: right;
}

.preview-footer__payment {
  margin-bottom: 2rem;
  padding-right: 3rem;
}

.payment__bank-acc {
  margin-right: 6rem;
}

.bank-acc__info {
  color: var(--primary-text-color);
  margin: 0 1.5rem 0 0.3rem;
}

.preview-footer__notes {
  padding: 3rem;
  text-align: left;
}

.notes__header {
  margin-bottom: 2rem;
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  text-align: left;
  color: var(--primary-text-color);
}

.notes__content {
  font-size: 10px;
  font-weight: 400;
  line-height: 13.02px;
  text-align: left;
  margin-bottom: 2rem;
}

.preview-footer__company {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  border-top: 1px solid #e5e7eb;
}

.preview-footer__company-details,
.preview-footer__company-copyright {
  font-size: 6px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  color: #99b2c6;
}

.preview__customer-info {
  text-align: left;
}

.preview-footer__company-copyright {
  text-align: right;
}

.preview-footer__company .preview__customer-email,
.preview-footer__company .preview__customer-phone {
  font-size: 6px;
  font-weight: 400;
  line-height: 8.17px;
}

.preview-footer__company .email-address,
.preview-footer__company .phone-number {
  font-size: 6px;
  font-weight: 400;
  line-height: 7.81px;
  color: #99b2c6;
}
